html, body{
    margin: 0%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

/* CSS variables */
:root{
    --primary-color: #438dce;
    --primary-color2: #f871c4;
    --title-color: #234a6c;
    --text-color: #304456;
    --border-color: #403950;
    --gradient-color: linear-gradient(90deg, #438dceb0 0%, #f871c4b1 100%);
    --shadow-color: 0px 10px 30px rgba(118, 85, 225, 0.3);
    --box-shadow: 0px 10px 30px rgba(38, 136, 198, 0.205);

    /* font family variables */
    --hind: 'Hind', cursive;
}